.location-container {
    padding :2%;
    background: #F3F3F3 0% 0% no-repeat padding-box;
}

.location-text {
    font: 5vh JelesW01-Regular;
    letter-spacing: 0.24px;
    color: #2C2E40;
    text-align: center;
    padding: 1% 3%;
}

.location-info {
    margin-left: auto;
    margin-right: auto;
    padding: 1% 15%;
    text-align: center;
    font: 3vh Poppins;
    letter-spacing: 0.12px;
    color: #2C2E40;
}

.location-nearby {
    padding: 2% 5%;
    font:  2.5vh Poppins;
    color: #2C2E40;
    text-transform: capitalize;
    
}

.image-container {
    padding: 2% 5%;
    margin : 2% 5%;
}