

.specs-text {
    font: normal normal normal 5vh JelesW01-Regular;
    letter-spacing: 0.24px;
    color: #2C2E40;
    text-align: center;
    padding: 5% 2%;
}

.image {
    max-width: 40vw;
    max-height: 40vh;
}

.bedroom-header {
    background: #BA8C5F  padding-box;
    border: 1px solid #BA8C5F;
    border-radius: 10px 10px 0px 0px;
    padding: 2%;
    width:fit-content
}